$global-background-color: #f6f8fa;
$global-background-color-dark: #161b22;
$global-background-card-color: #fff;
$global-background-card-color-dark: #0d1117;
$header-background-color: $global-background-card-color;
$header-background-color-dark: $global-background-card-color-dark;
$global-link-color: #161209;
$global-font-color: #24292e;
$global-font-color-dark: #c9d1d9;
$global-link-color: #161209;
$global-link-color-dark: #c9d1d9;
$global-link-hover-color: #3880ff;
$global-link-hover-color-dark: #3880ff;
$global-border-color: #eaecef;
$global-border-color-dark: #21262d;
$single-link-color: #3880ff;
$single-link-color-dark: #3880ff;
$single-link-hover-color: #eb445a;
$single-link-hover-color-dark: #eb445a;
